.background-image {
  background-image: url('../assets/img/background.png');
  padding-top: 25px;
}

#pageTitle h1 {
  font-size: 45px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  margin: 0 !important;
  font-weight: 800;
}

#pageTitle .title-style {
  line-height: 0.5;
  margin-left: 25px !important;
  color: #f0c40f !important;
}

#timeLine {
  margin-left: 22px;
  border: #333 solid 1px;
  border-top: none;
  display: flex;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.time-line-item {
  border-right: #333 solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.time-line-item img {
  height: 55px;
  width: 55px;
  border-radius: 50px;
}

.time-line-item .infos {
  margin-top: 5px;
  text-align: center;
}

.time-line-item .infos a {
  text-decoration: none;
}

#lula {
  width: 531.76px !important;
}
#dilma {
  width: 366.11px !important;
}
#temer {
  width: 166.7px !important;
}
#bolsonaro {
  width: 66px !important;
  border-right: none;
}
