.background-image {
  background-image: url('../assets/img/background.png');
  padding: 25px 0px;
  background-attachment: fixed;
  background-position: center;
}

.center-background-image {
  background-image: url('../assets/img/background-white.png');
  padding: 25px 0px;
  background-attachment: fixed;
  background-position: center;
}

.header-actions {
  width: 300px;
}

.fixed {
  position: fixed;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  width: 300px;
  padding: 15px 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.fixed h3,
.fixed h5 {
  color: #333;
  margin: 0 !important;
  text-align: left;
}

#pageTitle h1 {
  font-size: 45px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  margin: 0 !important;
  font-weight: 800;
}

#pageTitle .title-style,
.page-title .title-style {
  line-height: 0.5;
  margin-left: 25px !important;
  color: #f0c40f !important;
}

.pie-chart,
.bar-chart {
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 25px !important;
  margin: 25px 5px;
}

.title-and-action {
  font-family: 'Work Sans', sans-serif !important;
  align-items: center;
}

.title-and-action h3,
.title h3 {
  margin-bottom: 0;
  color: #333;
  font-weight: 500;
}

.title-and-action a,
.header-actions a {
  text-decoration: none;
  font-size: 18px;
  color: #0008a3;
}

.title-and-action a:hover,
.header-actions a:hover {
  color: #f0c40f !important;
}

.bar-chart {
  max-width: 1284px !important;
  margin: 10px 0px 25px !important;
}

.title {
  margin-top: 20px;
  font-family: 'Work Sans', sans-serif !important;
}

#lineChartContainer {
  padding-bottom: 50px;
}

#timeLine {
  margin-left: 22px;
  border: #e1e1e1 solid 1px;
  border-top: none;
  display: flex;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.time-line-item {
  border-right: #e1e1e1 solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.time-line-item img {
  height: 55px;
  width: 55px;
  border-radius: 50px;
}

.time-line-item .infos {
  margin-top: 5px;
  text-align: center;
}

.time-line-item .infos a {
  font-family: 'Work Sans', sans-serif !important;
  text-decoration: none;
  font-size: 18px;
  color: #0008a3;
}
.time-line-item .infos a:hover {
  color: #f0c40f !important;
}

#lula {
  width: 531.76px !important;
}
#dilma {
  width: 366.11px !important;
}
#temer {
  width: 166.7px !important;
}
#bolsonaro {
  width: 66px !important;
  border-right: none;
}

footer {
  padding: 30px;
  font-family: 'Work Sans', sans-serif !important;
}

footer .links {
  width: 500px;
  font-size: 18px;
}

footer .links a {
  text-decoration: none;
  color: #0008a3;
  font-weight: 500;
}

footer .links a:hover {
  color: #f0c40f !important;
}

.page-title {
  margin: 4px 0 20px;
}

.page-title h2 {
  font-family: 'Work Sans', sans-serif;
  color: #333;
  margin: 0 !important;
  font-weight: 800;
}

.page-title .title-style {
  margin-left: 18px !important;
}

footer h5 {
  color: #a5a5a5;
  font-weight: 400;
}

hr.solid {
  width: 100%;
  border-top: 1px solid #a5a5a5;
}

@media only screen and (max-width: 1400px) {
  #timeLine {
    display: none;
  }
}